{% extends 'template.html.twig' %}

{% block title %}Gestion Utilisateur{% endblock %}

{% block body %}
MODIFIER UTIL
<div>
    {{ username }}  {# Affichage de la variable username #}
</div>
{% endblock %}
