{% extends 'template.html.twig' %}

{% block title %}Delete Exercice{% endblock %}

{% block body %}
DELETE exercice
<div>
    {{ exerciceName }}  {# Affichage de la variable username #}
</div>
{% endblock %}
