{% extends 'template.html.twig' %}

{% block title %}Update Exercice{% endblock %}

{% block body %}
UPDATE EXERCICE
<div>
    {{ exerciceName }}  {# Affichage de la variable username #}
</div>
{% endblock %}
