{% extends 'template.html.twig' %}

{% block title %}Statistics!{% endblock %}

{% block body %}
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Colonne 1</th>
                    <th scope="col">Colonne 2</th>
                    <th scope="col">Colonne 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Donnée 1</td>
                    <td>Donnée 2</td>
                    <td>Donnée 3</td>
                </tr>
                <tr>
                    <td>Donnée 4</td>
                    <td>Donnée 5</td>
                    <td>Donnée 6</td>
                </tr>
                <tr>
                    <td>Donnée 7</td>
                    <td>Donnée 8</td>
                    <td>Donnée 9</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Colonne 1</th>
                    <th scope="col">Colonne 2</th>
                    <th scope="col">Colonne 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Donnée 10</td>
                    <td>Donnée 11</td>
                    <td>Donnée 12</td>
                </tr>
                <tr>
                    <td>Donnée 13</td>
                    <td>Donnée 14</td>
                    <td>Donnée 15</td>
                </tr>
                <tr>
                    <td>Donnée 16</td>
                    <td>Donnée 17</td>
                    <td>Donnée 18</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Colonne 1</th>
                    <th scope="col">Colonne 2</th>
                    <th scope="col">Colonne 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Donnée 19</td>
                    <td>Donnée 20</td>
                    <td>Donnée 21</td>
                </tr>
                <tr>
                    <td>Donnée 22</td>
                    <td>Donnée 23</td>
                    <td>Donnée 24</td>
                </tr>
                <tr>
                    <td>Donnée 25</td>
                    <td>Donnée 26</td>
                    <td>Donnée 27</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}